* {
    margin: 0;
    padding: 0; /* Eliminar márgenes y rellenos predeterminados de todos los elementos para un diseño más limpio */
    box-sizing: border-box; 
    scroll-behavior: smooth; /* Para que el scroll sea suave al hacer clic en los enlaces de navegación */
}
/* Variables de color que se usaran en el sitio web */
:root {
    --fondo-oscuro: #050510;
    --fondo-tarjetas: #0f0f25;
    --primario: #08f3ff;
    --secundario: #bc13fe;
    --texto-principal: #ffffff;
    --texto-secundario: #a0a0c0;
    --gradiente: linear-gradient(135deg, var(--primario), var(--secundario));
}

body {
    background-color: var(--fondo-oscuro);
    font-family: 'Outfit', sans-serif;
    color: var(--texto-principal);
}

.contenedor-principal {
    width: 1200px;
    margin: 0 auto; /* Centrar el contenedor principal horizontalmente */
    background-image:radial-gradient(circle at 10% 20%, rgba(188, 19, 254, 0.1) 30%, transparent 40%), /* circulo superior de color morado transparente */
    radial-gradient(circle at 90% 80%, rgba(0, 243, 255, 0.1) 30%, transparent 40%); /* circulo inferior de color celeste transparente */
    position: relative; /* Para posicionar los círculos de fondo correctamente */
}

h1,h2,h3 {
    font-family: Rajdhani, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit; /* Heredar el color del texto para los enlaces */
    transition: 0.3s ease; /* Transición suave para los enlaces */
}

.barra-navegacion {
    display: flex; /* Usar flexbox para organizar los elementos de la barra de navegación */
    justify-content: space-between; /* Espacio entre el logo y los enlaces de navegación */
    align-items: center; /* Centrar verticalmente los elementos de la barra de navegación */
    padding: 20px 50px;
    background: rgba(5, 5, 16, 0.8);
    backdrop-filter: blur(10px); /* desenfoque */
    position: sticky; /* No se puede mover */
    top: 0; /* Pues pegado arriba */
    z-index: 1000; /* Para asegurarse de que la barra de navegación esté */
    border-bottom: 2px solid rgba(255, 255, 255, 0.05); /* Línea debajo de la barra de navegación */
}

.logo {
    font-size: 28px;
    font-weight: bold; /* Negrita */
    letter-spacing: 2px; /* Espaciado entre letras */
}

.logo span {
    color: var(--primario); /* Color del texto "DEV" en el logo */
}

.links-navegacion a {
    margin-left: 30px; /* Espacio entre los enlaces de navegación */
    font-size: 16px;
    font-weight: 500; /* Semi-negrita */
    position: relative; /* Para posicionar el efecto de subrayado */
    color: var(--texto-secundario); /* Color de los enlaces de navegación */
}

.links-navegacion a:hover {
    color: var(--primario);
    text-shadow: 0 3px 5px rgba(0, 243, 255, 0.7); /* Sombra de texto para resaltar el enlace al pasar el mouse (x,y,blur)*/
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 0px 0px 100px;
    height: 600px;
}

.inicio-texto h3 {
    font-size: 24px;
    color: var(--primario);
    margin-bottom: 10px;
}

.inicio-texto h1 {
    font-size: 72px;
    line-height: 1.1; /* Para reducir el espacio entre las líneas del título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.texto-neon {
    color: transparent; /* Texto transparente para que se vea el efecto neón */
    -webkit-text-stroke: 2px var(--secundario); /* Contorno del texto para efecto neón */
    position: relative; /* Se posiciona este que es el que va debajo */
}

.texto-neon::before {
    content: 'Lucio Guillén';
    position: absolute;
    top: 0;
    left: 0;
    color: var(--secundario);
    overflow: hidden; /* Ocultar el texto que se va a revelar */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    border-right: 10px solid var(--primario); /* La linea que va de izquierda a derecha*/
    animation: typeFill 3s infinite alternate;
}

@keyframes typeFill { /* La animacion desde donde hasta donde va */
    from {
        width: 20%;
    }

    to {
        width: 100%;
    }
}

.rol {
    font-size: 20px;
    color: var(--texto-principal);
    margin-bottom: 10px; /* Espacio debajo del rol */
}

.descripcion {
    font-size: 18px;
    color: var(--texto-secundario);
    margin-bottom: 30px; /* Espacio debajo de la descripción */
    max-width: 500px; 
    line-height: 1.5;
}

.inicio-botones {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
}

.btn{
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
}

.btn-contacto {
    background: var(--gradiente);
    border: 1px solid transparent;
    color: white;
    box-shadow: 0 0 30px rgba(188, 19, 254, 0.4);
}

.btn-contacto:hover {
    transform: translateY(-5px); /* Mover el botón hacia arriba al hacer hover */
    box-shadow: 0 0 40px rgba(188, 19, 254, 0.6);
}

.btn-trabajo {
    background: var(--gradiente);
    border: 1px solid transparent;
    color: white;
    box-shadow: 0 0 30px rgba(188, 19, 254, 0.4);
}

.btn-trabajo:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 40px rgba(188, 19, 254, 0.6);
}

.inicio-imagen {
    transform: translateX(600px) translateY(-360px); /* Mover la imagen ligeramente hacia abajo para un mejor equilibrio visual */
    
}

.imagen-frame {
    width: 350px;
    height: 350px;
    position: relative;
    z-index: 1;
    border-radius: 50%; /* Hacer la imagen circular */
    border: 3px solid var(--primario); /* Primer borde circular */
    box-shadow: 0 0 0 8px var(--fondo-oscuro), 0 0 0 11px var(--secundario); /* Segundo borde circular */
    overflow: hidden; /* Para asegurar que la imagen también sea circular */
}

.imagen-frame img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(20%);
    transition: 0.5s;
}

.seccion{
    padding: 20px 50px;
}

.titulo-seccion {
    font-size: 42px;
    margin-bottom: 50px;
    text-align: center;
}

.resaltar {
    color: var(--primario);
    text-shadow: 0 0 15px rgba(0, 243, 255, 0.3); /* Sombra de texto para resaltar la palabra "Proyectos" */
}

.matriz-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el número de columnas según el tamaño de la pantalla */
    gap: 30px; /* Espacio entre las tarjetas de proyecto */
}

.tarjeta-proyecto {
    background-color: var(--fondo-tarjetas);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    position: relative
}

.tarjeta-proyecto:hover {
    transform: translateY(-5px);
    border-color: var(--secundario);
    box-shadow: 0 3px 20px rgba(188, 19, 254, 0.2);
}

.imagen-tarjeta {
    height: 180px;
    background: #1a1a2e;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.imagen-tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
}

.tarjeta-proyecto:hover .imagen-tarjeta img {
    transform: scale(1.1);
}

.contenido-tarjeta {
    padding: 25px;
}

.contenido-tarjeta h3 {
    color: var(--secundario);
    margin-bottom: 10px;
}

.contenido-tarjeta p {
    color: var(--texto-secundario);
    font-size: 14px;
    margin-bottom: 15px;
    text-align: justify;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permitir que las etiquetas se envuelvan a la siguiente línea si no caben en una sola */
}

.tags span {
    font-size: 12px;
    padding: 4px 10px;
    background: rgba(0, 243, 255, 0.1);
    color: var(--primario);
    border-radius: 20px;
    text-align: center;
}