* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Variables de color que se usaran en el sitio web */
:root {
    --fondo-oscuro: #050510;
    --fondo-tarjetas: #0f0f25;
    --primario: #00f3ff;
    --secundario: #bc13fe;
    --texto-principal: #ffffff;
    --texto-secundario: #a0a0c0;
    --gradiente: linear-gradient(135deg, var(primario), var(--secundario));
}

body {
    background-color: var(--fondo-oscuro);
    font-family: 'Outfit', sans-serif;
    color: var(--texto-principal);
}