* {
    margin: 0;
    padding: 0; /* Eliminar márgenes y rellenos predeterminados de todos los elementos para un diseño más limpio */
    box-sizing: border-box; 
    scroll-behavior: smooth; /* Para que el scroll sea suave al hacer clic en los enlaces de navegación */
}
/* Variables de color que se usaran en el sitio web */
:root {
    --fondo-oscuro: #050510;
    --fondo-tarjetas: #0f0f25;
    --primario: #08f3ff;
    --secundario: #bc13fe;
    --texto-principal: #ffffff;
    --texto-secundario: #a0a0c0;
    --gradiente: linear-gradient(135deg, var(--primario), var(--secundario));
}

body {
    background-color: var(--fondo-oscuro);
    font-family: 'Outfit', sans-serif;
    color: var(--texto-principal);
}

.contenedor-principal {
    width: 1200px;
    margin: 0 auto; /* Centrar el contenedor principal horizontalmente */
    background-image:radial-gradient(circle at 10% 20%, rgba(188, 19, 254, 0.1) 0%, transparent 20%), /* circulo superior de color morado transparente */
    radial-gradient(circle at 90% 80%, rgba(0, 243, 255, 0.1) 0%, transparent 20%); /* circulo inferior de color celeste transparente */
    overflow: hidden; /* Para evitar que los círculos se desborden fuera del contenedor */
    position: relative; /* Para posicionar los círculos de fondo correctamente */
}

h1,h2,h3 {
    font-family: Rajdhani, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit; /* Heredar el color del texto para los enlaces */
    transition: 0.3s ease; /* Transición suave para los enlaces */
}

.barra-navegacion {
    display: flex; /* Usar flexbox para organizar los elementos de la barra de navegación */
    justify-content: space-between; /* Espacio entre el logo y los enlaces de navegación */
    align-items: center; /* Centrar verticalmente los elementos de la barra de navegación */
    padding: 20px 50px;
    background: rgba(5, 5, 16, 0.8);
    backdrop-filter: blur(10px); /* desenfoque */
    position: sticky; /* No se puede mover */
    top: 0; /* Pues pegado arriba */
    z-index: 1000; /* Para asegurarse de que la barra de navegación esté */
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); /* Línea debajo de la barra de navegación */
}

.logo {
    font-size: 28px;
    font-weight: bold; /* Negrita */
    letter-spacing: 2px; /* Espaciado entre letras */
}

.logo span {
    color: var(--primario); /* Color del texto "DEV" en el logo */
}

.links-navegacion a {
    margin-left: 30px; /* Espacio entre los enlaces de navegación */
    font-size: 16px;
    font-weight: 500; /* Semi-negrita */
    position: relative; /* Para posicionar el efecto de subrayado */
    color: var(--texto-secundario); /* Color de los enlaces de navegación */
}

.links-navegacion a:hover {
    color: var(--primario);
    text-shadow: 0 3px 5px rgba(0, 243, 255, 0.7); /* Sombra de texto para resaltar el enlace al pasar el mouse (x,y,blur)*/
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 50px;
    height: 600px;
}

.inicio-texto {
    width: 60%;
}

.inicio-texto h3 {
    font-size: 24px;
    color: var(--primario);
    margin-bottom: 10px;
}

.inicio-texto h1 {
    font-size: 72px;
    line-height: 1.1; /* Para reducir el espacio entre las líneas del título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.texto-neon {
    color: transparent; /* Texto transparente para que se vea el efecto neón */
    -webkit-text-stroke: 2px var(--secundario); /* Contorno del texto para efecto neón */
    position: relative; /* Se posiciona este que es el que va debajo */
}

.texto-neon::before {
    content: 'Lucio Guillén';
    position: absolute;
    top: 0;
    left: 0;
    color: var(--secundario);
    overflow: hidden; /* Ocultar el texto que se va a revelar */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    border-right: 10px solid var(--primario); /* La linea que va de izquierda a derecha*/
    animation: typeFill 3s infinite alternate;
}

@keyframes typeFill { /* La animacion desde donde hasta donde va */
    from {
        width: 20%;
    }

    to {
        width: 100%;
    }
}


